html, body {
    height: 100%; 
    margin: 0; 
}

body {
    background-color: #c7bbf5; 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .title {
    color: #15293b;
    margin-bottom: 2rem;
    font-size: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .menu {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  
  .menu a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #a7b9ca;
  }
  

  
  .image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }